{% extends 'base/base.html' %}

{% block title %}
  Confirmar Exclusão de CFOP
{% endblock %}

{% block content %}
<h3 class="text-center">Confirmar Exclusão</h3>
<div class="container">
    <p>Tem certeza que deseja excluir o CFOP "{{ cfop.name }}"?</p>
    
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger mt-3" type="submit">Confirmar Exclusão</button>
        <a class="btn btn-secondary mt-3" href="{% url 'product:cfop_list' %}">Cancelar</a>
    </form>
</div>

{% endblock %}