{% extends 'base/base.html' %}

{% block title %}
  {{ action }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ action }}</h3>
        </div>
        <div class="card-body">
          <form method="post" class="text-secondary">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
              
                <div class="form-group col-sm-12 col-xl-6 col-md-6 col-xl-6">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}

                  {% if field.help_text %}
                    <p class="text-secondary">{{ field.help_text }}</p>
                  {% endif %}
                  <div class="text-danger">
                    {{ field.errors }}
                  </div>
                </div>

              {% endfor %}
            </div>

            <button class="btn btn-success mt-3" type="submit">Salvar</button>
            <a class="btn btn-secondary mt-3" href="{% url 'financial_control:transaction_type_list' %}">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}